@import url('https://fonts.googleapis.com/css2?family:Roboto:wght@300;400;500;700&display=swap');

.header {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    top: 0;
    left: 0;
    width: 70%;
    background-color: #333;
}

a {
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: inherit;
}

a:hover {
    color: #FFFFFF;
    font-weight: 700;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: #444;
}

.menuItem {
    padding: 10px;
    color: #fff;
}

.submenu {
    list-style: none;
    padding: 10px 30px;
    display: none;
    position: absolute;
    background-color: #3C5973;
    left: 38%;
    transform: translateX(-50%);
    top: 40px;
    border-radius: 16px;
}

.submenu ul {
    list-style: none;
    padding: 0px 30px;
    
    

}


.submenu a {
    color: #fff;
}

.submenu a:hover {
    color: #FFFFFF;
    font-weight: 700;
}

.menuItem:hover .submenu {
    display: block;
}

.submenú:hover {
    display: block;
}

.submenuItem {
    border-bottom-width: 2px;
    /* Ancho del borde */
    border-bottom-style: solid;
    /* Estilo del borde (solid, dashed, dotted, etc.) */
    border-bottom-color: #fff;
}

/* Estilos para tamaños de pantalla móviles */
@media (max-width: 767px) {
    .header {
        background-color: pink;
    }
}

/* Estilos para tamaños de pantalla de tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        background-color: lightgreen;
    }
}

/* Estilos para tamaños de pantalla de escritorio */
@media (min-width: 1024px) {
    .header {
        background-color: lightyellow;
    }
}